# ------------------------
# OS-specific files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Logs
# ------------------------
*.log

# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pickle
*.db
*.sqlite
*.sqlite3

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ------------------------
# JavaScript/Node
# ------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# ------------------------
# IDE & Editor settings
# ------------------------
.idea/
.vscode/

# ------------------------
# Temporary files
# ------------------------
*.tmp
*.swp
*.swo