* {
    box-sizing: border-box;
}

svg {
    border:1px solid black;
}

text {
    fill:black;
    font-size: 18px;
    user-select: none;
}

.rects>rect.clicked {
    stroke-width: 2px;
    stroke: black;
    opacity:1
}
.rects>rect:not(.clicked) {
    opacity:0.7;
}

.tick>line {
    stroke: lightgrey;
    stroke-dasharray: 10, 2;
}